header h1 {
    background: url('bg.jpg') left / auto 100% no-repeat, url('bg.jpg') right / auto 100% no-repeat;
}

p {
    margin: 0;
}

.root {
    font-size: larger;
}

/* footer */
.footer-text {
    width: 85%;
}

/* ads_list */
.main-image {
    width: 300px;
}

.additional-image {
    width: 180px;
}